    <% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      The movietmins.com is a website allows users to rate and write reviews for movies. 
      <br>
      Here each signed-up user has a profile to see all reviews and rating they posted.
      <br>
      It also has a list of all movie that you can find. Each movie has its own profile listing all the reviews users wrote and the overall score of a movie.
    </p>