<div class="center hero-unit">
  <h1>Welcome to Movietmins</h1>
  <h2>
      Going to the movie theater? <br>
      Check out the reviews on movietmins!
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success" %>
</div>