<div class="center hero-unit">
  <h1>Welcome to Movietmins</h1>
  <h2>
  This is the home page for one of the most popular movie rating website - movietmins.com.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>