<footer class="footer">
  <small>
    movietmins.com
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.amctheatres.com/">New Movies</a></li>
    </ul>
  </nav>
</footer>